
.salesBlock{
    height: 800px;
    text-align: center;
    text-transform: uppercase;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.salesBlock__container{
    max-width: 55%;
    margin: auto;
}
.salesBlock h1{
    font-size: 7vw;
    color: #FFFFFF;
    margin-bottom:10px;
}
.salesBlock h2{
    font-size: 60px;
    color: #FFFFFF;
}
.salesBlock h3{
    font-size: 3vw;
    color: #FFFFFF;
    border: 6px solid rgba(0, 255, 0, 0.5);
    width: 60%;
    font-size: 80px;
    margin: 0 auto;
    max-width: 712px;
}

.salesBlock{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/clothing-header.jpg"); 
}


@media only screen and (max-width: 800px) and (min-width: 601px) {
    .salesBlock{
        max-height: 414px;
        background-image: url("https://www.inov-8.com/media/clothing-category/tablet/clothing-header.jpg"); 
    }
    .salesBlock h1{
        font-size: 100px;
        letter-spacing: 0;
    }
    .salesBlock h3{
        font-size: 40px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
    .salesBlock h1{
        font-size: 50px;
        letter-spacing: 0;
    }
    .salesBlock h3{
        font-size: 20px;
        color: #FFFFFF;
    }
    .salesBlock{
        max-height: 414px;
        background-image: url("https://www.inov-8.com/media/clothing-category/mobile/clothing-header.jpg"); 
    }
}