
#slider1 .card1{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/slider500x500/base-layers.jpg");
}
#slider1 .card2{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/slider500x500/shorts.jpg");
}
#slider1 .card3{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/slider500x500/mid-layers.jpg");
}
#slider1 .card4{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/slider500x500/jackets.jpg");
}
#slider1 .card5{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/slider500x500/tights-trousers.jpg");
}
#slider1 .card6{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/slider500x500/t-shirts.jpg");
}
#slider1 .card7{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/slider500x500/socks.jpg");
}
#slider1 .card8{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/slider500x500/gloves-mitts.jpg");
}
#slider1 .card9{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/slider500x500/headwear.jpg");
}


#slider2 .card1 .productCard__image{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/p1.jpg"); 
}
#slider2 .card2 .productCard__image{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/p2.jpg"); 
}
#slider2 .card3 .productCard__image{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/p3.jpg"); 
}
#slider2 .card4 .productCard__image{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/p4.jpg"); 
}
#slider2 .card5 .productCard__image{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/p5.jpg"); 
}
#slider2 .card6 .productCard__image{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/p6.jpg"); 
}
#slider2 .card7 .productCard__image{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/p7.jpg"); 
}
#slider2 .card8 .productCard__image{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/p8.jpg"); 
}
#slider2 .card9 .productCard__image{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/p9.jpg"); 
}




#slider3 .card1{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/gtk-jacket.jpg"); 
}
#slider3 .card2{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/gtk-shorts.jpg"); 
}
#slider3 .card3{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/gtk-tf.jpg"); 
}
#slider3 .card4{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/gtk-pack.jpg"); 
}




#slider4 .card1 .blogCard500x400__image{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/blog500x400/blog-one.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider4 .card2 .blogCard500x400__image{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/blog500x400/blog-two.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider4 .card3 .blogCard500x400__image{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/blog500x400/blog-three.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider4 .card4 .blogCard500x400__image{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/blog500x400/blog-four.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider4 .card5 .blogCard500x400__image{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/blog500x400/blog-five.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



#slider5 .card1{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/cat-run.jpg");
}
#slider5 .card2{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/cat-gym.jpg");
}
#slider5 .card3{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/cat-hike.jpg");
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
  

    #slider1 .card1{
        background-image: url("https://www.inov-8.com/media/clothing-category/tablet/base-layers.jpg");
    }
    #slider1 .card2{
        background-image: url("https://www.inov-8.com/media/clothing-category/tablet/t-shirts.jpg");
    }
    #slider1 .card3{
        background-image: url("https://www.inov-8.com/media/clothing-category/tablet/shorts.jpg");
    }
    #slider1 .card4{
        background-image: url("https://www.inov-8.com/media/clothing-category/tablet/socks.jpg");
    }
    #slider1 .card5{
        background-image: url("https://www.inov-8.com/media/clothing-category/tablet/mid-layers.jpg");
    }
    #slider1 .card6{
        background-image: url("https://www.inov-8.com/media/clothing-category/tablet/headwear.jpg");
    }
    #slider1 .card7{
        background-image: url("https://www.inov-8.com/media/clothing-category/tablet/jackets.jpg");
    }
    #slider1 .card8{
        background-image: url("https://www.inov-8.com/media/clothing-category/tablet/gloves-mitts.jpg");
    }
    #slider1 .card9{
        background-image: url("https://www.inov-8.com/media/clothing-category/tablet/tights-trousers.jpg");
    }




    #slider5 .card1{
        background-image: url("https://www.inov-8.com/media/clothing-category/tablet/cat-run.jpg");
    }
    #slider5 .card2{
        background-image: url("https://www.inov-8.com/media/clothing-category/tablet/cat-gym.jpg");
    }
    #slider5 .card3{
        background-image: url("https://www.inov-8.com/media/clothing-category/tablet/cat-hike.jpg");
    }

}


@media only screen and (max-width: 600px) and (min-width: 0px) {
  


    #slider1 .card1{
        background-image: url("https://www.inov-8.com/media/clothing-category/mobile/base-layers.jpg");
    }
    #slider1 .card2{
        background-image: url("https://www.inov-8.com/media/clothing-category/mobile/t-shirts.jpg");
    }
    #slider1 .card3{
        background-image: url("https://www.inov-8.com/media/clothing-category/mobile/shorts.jpg");
    }
    #slider1 .card4{
        background-image: url("https://www.inov-8.com/media/clothing-category/mobile/socks.jpg");
    }
    #slider1 .card5{
        background-image: url("https://www.inov-8.com/media/clothing-category/mobile/mid-layers.jpg");
    }
    #slider1 .card6{
        background-image: url("https://www.inov-8.com/media/clothing-category/mobile/headwear.jpg");
    }
    #slider1 .card7{
        background-image: url("https://www.inov-8.com/media/clothing-category/mobile/jackets.jpg");
    }
    #slider1 .card8{
        background-image: url("https://www.inov-8.com/media/clothing-category/mobile/gloves-mitts.jpg");
    }
    #slider1 .card9{
        background-image: url("https://www.inov-8.com/media/clothing-category/mobile/tights-trousers.jpg");
    }



/* 
    #slider4 .card1 .blogCard500x400__image{
        background-image: url("https://www.inov-8.com/media/clothing-category/desktop/blog500x400/blog-one.jpg");
    }
    #slider4 .card2 .blogCard500x400__image{
        background-image: url("https://www.inov-8.com/media/clothing-category/desktop/blog500x400/blog-two.jpg");
    }
    #slider4 .card3 .blogCard500x400__image{
        background-image: url("https://www.inov-8.com/media/clothing-category/desktop/blog500x400/blog-three.jpg");
    }
    #slider4 .card4 .blogCard500x400__image{
        background-image: url("https://www.inov-8.com/media/clothing-category/desktop/blog500x400/blog-four.jpg");
    }
    #slider4 .card5 .blogCard500x400__image{
        background-image: url("https://www.inov-8.com/media/clothing-category/desktop/blog500x400/blog-five.jpg");
    }
 */





    #slider5 .card1{
        background-image: url("https://www.inov-8.com/media/clothing-category/mobile/cat-run.jpg");
    }
    #slider5 .card2{
        background-image: url("https://www.inov-8.com/media/clothing-category/mobile/cat-gym.jpg");
    }
    #slider5 .card3{
        background-image: url("https://www.inov-8.com/media/clothing-category/mobile/cat-hike.jpg");
    }


}