.header{
    height: 100vh;
    text-align: center;
    text-transform: uppercase;
    max-height: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.header1{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/clothing-header.jpg"); 
}

.header3{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/walk-the-wainwrights.jpeg"); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    margin-bottom: 100px;
}
.header__container{
    max-width: 55%;
    margin: auto;
}
.header h1{
    font-size: 7vw;
    color: #FFFFFF;
    margin-bottom:10px;
}
.header h2{
    font-size: 60px;
    color: #FFFFFF;
}
.header h3{
    font-size: 3vw;
    color: #FFFFFF;
}

.titleCard{
    height: 800px;
    color: white;
 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 

    display: flex;
 flex-direction: row;
/*    justify-content: center; */
}
.titleCard__title{
    display: flex;
    align-items: center;
}
.titleCard__content{
    display: grid;
    grid-template-rows: 30% 50% 20%;
    margin: 50px 112px;
    position: absolute;
    width: 600px;
    height: 800px;
    box-sizing: border-box;
    max-height: 700px;
}

.titleCard__content2{
    display: grid;
    grid-template-rows: 20% 50% 20%;
    margin: 50px 112px;
    position: absolute;
    width: 600px;
    height: 800px;
    box-sizing: border-box;
    max-height: 700px;
}
.titleCard__content h2,
.titleCard__content2 h2{
    font-size: 60px;
    color: white;
    line-height: 60px;
}
.titleCard__content p,
.titleCard__content2 p{
    font-size: 28px;
    line-height: 28px;
    color: white;
}
.titleCard h2{
    font-size: 60px;
}
.titleCard p{
    font-size: 28px;
}
@media only screen and (max-width: 800px) and (min-width: 601px) {
    .titleCard__content2{
        display: grid;
        grid-template-rows: 25% 65% 10%;
        margin: 50px 30px;
        position: absolute;
        width: 600px;
        height: 330px;
        box-sizing: border-box;
        max-height: 700px;
    }
    .header1{
        max-height: 414px;
        background-image: url("https://www.inov-8.com/media/clothing-category/tablet/clothing-header.jpg"); 
    }
    .header3{
        max-height: 414px;
        background-image: url("https://www.inov-8.com/media/clothing-category/desktop/walk-the-wainwrights.jpeg"); 
    }
    .header h1{
        font-size: 50px;
        letter-spacing: 0;
    }
    .titleCard__content p,
    .titleCard__content2 p{
        font-size: 20px;
        letter-spacing: 0;
        line-height: 22px;
    }
    .titleCard__content h2,
    .titleCard__content2 h2{
        font-size: 40px;
        letter-spacing: 0;
        line-height: 40px;
    }
    .header h3{
        font-size: 40px;
    }
    .titleCard__content {
        display: grid;
        grid-template-rows: 25% 65% 10%;
        margin: 50px 30px;
        position: absolute;
        width: 600px;
        height: 600px;
        box-sizing: border-box;
        max-height: 700px;
    }
    .titleCard__logo img{
        max-width: 200px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
    .header h1{
        font-size: 50px;
        letter-spacing: 0;
    }
    .header h3{
        font-size: 20px;
        color: #FFFFFF;
    }
    .header1{
        max-height: 414px;
        background-image: url("https://www.inov-8.com/media/clothing-category/mobile/clothing-header.jpg"); 
    }
    .header3{
        max-height: 414px;
        background-image: url("https://www.inov-8.com/media/clothing-category/mobile/walk-the-wainwrights.jpg"); 
        margin-bottom: 100px;
    }
    .titleCard__content h2,
    .titleCard__content2 h2{
        font-size: 34px;
        line-height: 36px;
    }
    .titleCard__content p,
    .titleCard__content2 p{
        font-size: 16px;
        line-height: 18px;
    }
    .titleCard__content,
    .titleCard__content2{
            margin: 40px 0;
            position: absolute;
            width: 100%;
            padding: 20px;
            height: 90%;
            display: grid;
            grid-template-rows: 25% 65% 10%;
    }

    .titleCard__logo img{
        max-width: 200px;
    }
    .titleCard__logo {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
   

}