.socailWidget {
    margin: 0px 112px;
    margin-bottom: 100px;
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
    .socailWidget {
        margin: 0px 0px 90px 20px;
        margin-bottom: 60px;
    }
}