video{
    object-fit:cover;
    top:0;
    left:0;
}
.scaleStart{
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
		transform: scale(0.75);
}
.videoContainer,video{
   /*  height:calc(100vh - 200px); */
    position:relative;
    display:flex;
    height:800px;
    width: calc(100% + 30px);
    margin-left: -15px;
  
}
.videoContainer{
    display: flex;
    margin-bottom: 100px;
}
.center{
    text-align: center;
    justify-content: center;
}
.videoContainer .shopButtons{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    max-width:316px
}
.videoContainer p{
    color:#fff
}
.videoContainer .bannerText{
    position:absolute;
    top:35%;
    left:10px;
    z-index:10;
    padding:0 0 0 90px;
    align-self:center
}

.videoContainer__container{
    max-width: 55%;
    margin: auto;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-self: center;
}
.videoContainer__container h1{
    font-size: 166px;
    color: #FFFFFF;
}
.videoContainer__container h2{
    font-size: 60px;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height: 60px;
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
    .videoContainer__container{
        max-width: 80%;
    }
    .videoContainer__container h2{
        font-size: 30px;
        line-height: 30px;
    }
    .videoContainer,video{
        /*  height:calc(100vh - 200px); */
         position:relative;
         display:flex;
         height:700px;
         width: calc(100% + 30px);;
     }
}