
.card400x600{
    height: 600px;
    width: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 40px;
    padding: 0px 20px;
    box-sizing: border-box;
}
.card400x600Height a {
    text-decoration: none;
}
.card400x600__container{
    max-width: 70%;
    margin-bottom: 0px;
  }
  .card400x600 h2{
    font-size: 40px;
    line-height: 40px;
    margin: 0;
  }
  .card400x600Height{
    height: 680px;
  }


  .card400x600Height .firstChildMargin {
    margin-left: 110px;
}





  @media only screen and (max-width: 800px) and (min-width: 601px) {
    .card400x600Height {
        height: 310px;
    }

    .card400x600{
        height: 300px;
        width: 300px;
    }

    .card400x600 h2 {
      font-size: 20px;
      line-height: 20px;
    }
    .card400x600Height .firstChildMargin {
      margin-left: 30px;
  }
  }


  @media only screen and (max-width: 600px) and (min-width: 0px) {
    .card400x600{
        height: 280px;
        width: 220px;
    }
    .card400x600Height {
        height: 300px;
    }
    .card400x600__container {
      max-width: 100%;
      margin-bottom: 10px;
    }
    .card400x600 h2 {
      font-size: 18px;
      line-height: 20px;
      margin: 0;
    }
    .card400x600Height .firstChildMargin {
        margin-left: 30px;
    }

  }