
.card500x500{
    height: 500px;
    width: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 40px;
    padding: 0px 20px;
    box-sizing: border-box;
    border-radius: 5px;
}
.card500x500Height a {
    text-decoration: none;
}
.card500x500__container{
    max-width: 90%;
    margin: 0 auto;
  }
  .card500x500 h2{
    font-size: 40px;
    line-height: 40px;
    margin: 0;
  }
  .card500x500Height{
    height: 580px;
  }


  .card500x500Height .firstChildMargin {
    margin-left: 110px;
}





  @media only screen and (max-width: 800px) and (min-width: 601px) {
    .card500x500Height {
        height: 310px;
    }

    .card500x500{
        height: 300px;
        width: 300px;
    }

    .card500x500 h2 {
      font-size: 20px;
      line-height: 20px;
    }
    .card500x500Height .firstChildMargin {
      margin-left: 30px;
  }
  }


  @media only screen and (max-width: 600px) and (min-width: 0px) {
    .card500x500{
        height: 220px;
        width: 220px;
    }
    .card500x500Height {
        height: 300px;
    }
    .card500x500__container {
      max-width: 100%;
      margin-bottom: 10px;
    }
    .card500x500 h2 {
      font-size: 18px;
      line-height: 20px;
      margin: 0;
    }
    .card500x500Height .firstChildMargin {
        margin-left: 30px;
    }

  }